@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,400&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Neucha";
  src: url("../utils/fonts/Neucha/Neucha-Regular.ttf");
}
@font-face {
  font-family: "permanent_market";
  src: url("../utils/fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid red;
} */

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}


